body {
  font-family: 'Arial';
}

#entries {
  background-color: bisque;
  padding: 15px;
  margin-bottom: 10px;
}

#summary {
  color: white;
  background-color: cornflowerblue;
  padding: 15px;
  margin-bottom: 10px;
}

#scorebox {
  font-size: 20pt;
}