@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap');
/* don't forget to auto-add prefixes!! */

    html,body {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 
      font-family: 'Epilogue', sans-serif;
    }

    #name {
      color: white; 
      font-size: 40px; 
      font-weight: 600
    }

    #role {
      color: #2A8FD8; font-size: 45px;
    }

    .icons {
      margin-top: 15px;
    }

    .icons a{
      color: white;
      font-size: 25px;
      margin-right: 10px;
    }

    .icons a:hover {
      color: #c9c9c9;
    }

    .card_caption--left>.icons {
      margin-top: 10px;
    }

    .card_caption--left>.icons a {
      color: black;
    }

    .card_caption--left>.icons a:hover {
      color: #164DA0;
    }

/* sections */
    .section-vh {
      background-color: #164DA0;
      height: 85vh;
      width: 100vw;
    }

    .section-vh#last {
      background-color: white;
    }

    .section-stretch {
      width: 100vw;
      border-bottom: 1px solid #eaeaea;
    }
    
/* grid layout structure */
    #grid-1, #grid-3 {
      display: grid;
      grid-template-rows: 70px 1fr 70px;
      grid-template-columns: 120px 1fr 120px;
      /* should be same as section-1 height */
      height: 85vh;  
    }

    #grid-2 {
      display: grid;
      grid-template-rows: 70px 1fr 70px;
      grid-template-columns: 120px 1fr 120px;
    }

/* visible grid base template */
    .grid_left {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 4;
      grid-column-end: 2;
      border-right: 1px solid #eaeaea;
    }

    .grid_center {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-row-end: 3;
      grid-column-end: 4;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
    }

    .grid_right {
      grid-row-start: 1;
      grid-column-start: 3;
      grid-row-end: 4;
      grid-column-end: 4;
      border-left: 1px solid #eaeaea;
    }

    .grid_center--content {
      grid-row-start: 2;
      grid-column-start: 2;
      grid-row-end: 3;
      grid-column-end: 3;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .about {
      width: 400px;
      margin: 0 auto;
      text-align: center;
      line-height: 1.8em;
      font-size: 11pt;
    }

    .grid_center--slab {
      /* background-color:cornsilk; */
      grid-row-start: 2;
      grid-column-start: 2;
      grid-row-end: 3;
      grid-column-end: 3;
    }

    .grid_left > p {
      text-align: right;
      transform: rotate(90deg);
      font-size: 50px;
      margin-left: -70px;
      padding-left: 20px;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      grid-auto-rows: 500px;
      grid-auto-flow: dense;

      list-style: none;
      padding: 0;
      margin: 0;
    }

    /* each li is a card */
    ul>li {
      border: 1px solid #eaeaea;
      margin-left: 25px;
      margin-bottom: 20px; 
      grid-row: span 1;
      grid-column: span 1;

      display: flex;
      flex-direction: column;
      /* filter: grayscale(100%); */
    }

    /* ul>li:hover {
      filter: none;
    } */

/* portfolio project cards */
    .card_img {
      background-size: cover;
      /* background-blend-mode: multiply; */

      flex: 0.5;
      overflow: hidden;
      border: 1px solid black;
      border-bottom: none;
      /* filter: grayscale(100%); */
    }

    #respect {
      background-image: url(../imgs/respect.jpg), linear-gradient(to bottom, white, rgb(82, 82, 82));
    }

    #lunar {
      background-image: url(../imgs/lunar.jpg), linear-gradient(to bottom, white, rgb(82, 82, 82));
    }

    #safebike {
      background-image: url(../imgs/safebike.png), linear-gradient(to bottom, white, rgb(82, 82, 82));
    }

    #gol {
      background-image: url(../imgs/GOL.gif), linear-gradient(to bottom, white, rgb(82, 82, 82));
    }

    #parked {
      background-image: url(../imgs/parked.png), linear-gradient(to bottom, white, rgb(82, 82, 82));
    }

    #stocks {
      background-image: url(../imgs/stocks.png), linear-gradient(to bottom, white, rgb(82, 82, 82));
    }

    .card_caption {
      display: flex;
      flex: 0.2;
    }

    .card_caption--right, .card_caption--left {
      border: 1px solid black;
      flex: 1;
    }

    .card_caption--right, .card_caption--left, .card_description {
      padding: 10px;
    }

    .card_caption--left {
      font-size: 18pt;
      font-weight: 600;
    }

    .card_caption--left>a {
      color: black;
    }

    ol {
      font-size: 12pt;
      font-weight: 400;
      list-style: none;
      padding: 0;
      margin-top: 8px;
    }

    ol>li {
      display: inline;
      line-height: 1.8em;
      background-color: #164DA0;
      color: white;
      padding: 4px;
    }

    .card_caption--right {
      display: inline;
      text-align: right;
      margin-left: -1px;
      color: #666666;

      display: flex;
      flex-direction: column;
    }

    .card_description {
      border: 1px solid black;
      flex: 0.3;
      margin-top: -1px;
      line-height: 1.5em;
    }

    .card_description>span {
      color: grey;
    }


/* hide most of the borders when view is mobile or tablet */

@media screen and (max-width: 1100px) {
     
     #grid-1, #grid-2, #grid-3 {
      grid-template-columns: 40px 1fr 40px;
     }
     
     .grid_right, .grid_center {
        display: none;
      }

      #grid-1>.grid_left {
        display: none;
      }

      #grid-3>.grid_left {
        display: none;
      }

      .grid_left > p {
      text-align: right;
      transform: rotate(90deg);
      font-size: 30px;
      margin-left: -20px;
      padding-left: -20px;
      }

      .grid_center--slab {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 4;
        grid-column-end: 4;
      }

      ul {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 800px;
      }

      ul>li {
        margin-left: 0px;
      }

      .about {
        width: 300px;
      }
}